.just-a-regular-link {
  display: inline !important;
  padding: 0 !important;
  background: none !important;
  color: black !important;
  text-decoration: underline !important;
}
.hide-initially {
  display: none;
}
.hide-always {
  display: none;
}
.my-template {
  display: none;
}
.languages .language {
  color: white;
  padding: 0 10px;
}
.languages .language a {
  color: white;
  text-decoration: underline;
}
.text-align-right {
  text-align: right;
}
.table {
  width: 100% !important;
}
/* https://stackoverflow.com/questions/23935758/gradient-over-img-tag-using-css */
.white-gradient-over {
  height: 100%;
  width: auto;
  mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
